<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="CommandLineCalculator" class="com.redbubble.takehome.CommandLineCalculator">
        <constructor-arg ref="CommandLineCalcConfig"/>
    </bean>
    <bean id="CommandLineCalcConfig" class="com.redbubble.takehome.CommandLineCalcConfig"/>

</beans>