<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%.15thread] %highlight(%-5level) %cyan(%logger{20}) - %highlight(%msg%n)
            </Pattern>
        </layout>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="com.redbubble" level="TRACE"/>
    <root level="ALL">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
